extends layout

block content
    div(id='content')
        form(id='searchForm')
            input(id='searchBox', type='text', name='query')

            input(id='searchButton', class='btn', type='submit', value='Submit')

        div(id='results')
            ul(id='receiver')
