extends layout

block header
    div(id='header')
        div(id='header-image')
            div(id='head-title')
                img(src='/images/cheapaholics-title.png')

            div(id='search-div')
                form(id='searchbox')
                    input(id='search', placeholder='Find the Best Price!', type='text', name='query')
                    input(id='submit', type='submit', value='Submit', disabled="disabled")


block content
    div#container
        div#id
    div#content
        div#results
            div#receiver

    div.row-fluid#welcome
        div.span6#welcome-left
            div.round-shadow#welcome-left-content
                img#welcome-image(src='/images/welcome.png')
                p
                    <br>
                    img(width='150px', src='/images/cheapaholics-title.png')
                    |  gives you the ability to get search results from
                    |  all your favourite e-commerce websites with a simple click.
                p
                    <br>
                    |  Why don't you give it a try?
                p
                    <br>
                    |  Just insert some keywords and watch the magic!

        div.span6#welcome-right
            div.round-shadow#welcome-right-content
                p#affiliate-title Catalogue
                br
                ul#affiliate-list
                    li
                        img.affi-image(src='/img/amazon-m.jpg')
                    li
                        img.affi-image(src='/img/ebay-m.jpg')

    div.modal.hide.fade
        div.modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h3 Preview
        div.modal-body
            p One fine body
        div.modal-footer

    script
        //load loader
        var loader = {

            width: 100,
            height: 100,

            stepsPerFrame: 1,
            trailLength: 1,
            pointDistance: .02,
            fps: 30,

            fillColor: '#05E2FF',

            step: function(point, index) {

                this._.beginPath();
                this._.moveTo(point.x, point.y);
                this._.arc(point.x, point.y, index * 7, 0, Math.PI*2, false);
                this._.closePath();
                this._.fill();

            },

            path: [
                ['arc', 50, 50, 30, 0, 360]
            ]

        }

        var d, a, container = document.getElementById('id');


        d = document.createElement('div');
        d.className = 'l';

        a = new Sonic(loader);

        d.appendChild(a.canvas);
        container.appendChild(d);

        a.canvas.style.marginTop = (150 - a.fullHeight) / 2 + 'px';
        a.canvas.style.marginLeft = (150 - a.fullWidth) / 2 + 'px';

        a.play();