extends layout

block header
    div(id='header')
        div(id='header-image')
            div(id='head-title')
                img(src='/images/cheapaholics-title.png')

            div(id='search-div')
                form(id='searchbox')
                    input(id='search', placeholder='Find the Best Price!', type='text', name='query')
                    input(id='submit', type='submit', value='Submit', disabled="disabled")


block content
    div(id='content')
        div(id='results')
            ul(id='receiver')
